* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}
 
.body {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10%;
}

.mailChimpImg {
  width: 20%;
  height: auto;
}

.mailChimpImg img {
  width: 100%;
  height: auto;
}

.form {
  margin: 0;
  width: 40%;
}

.formLabels {
  display: flex;
  flex-flow: column wrap;
}

.requirementsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  max-height: 5em;
}

.requirementsListUl {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.requirementsListLi {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 5em;
  width: auto;
}

.signUp {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

